.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  .login-box {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;

  }
  
  h2 {
    margin-bottom: 1.5rem;
    color: #333;
  }
  
  .p-field {
    margin-bottom: 1rem;
  }
  
  .p-button {
    width: 100%;
    margin-top: 1.5rem;
  }
  
  .error-message {
    color: red;
    font-size: 0.9rem;
    margin-top: 0.5rem;
  }
  
  input {
    width: 100%;
    padding: 0.75rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 1rem;
  }
  
  input:focus {
    outline: none;
    border-color: #007ad9;
  }

.text-center {
  text-align: center;
}

.login-link {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.login-link:hover {
  text-decoration: underline;
  color: #0056b3;
}

  